<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.fileprovider.testing-mode</key>
	<true/>
	<key>com.apple.developer.foundation-model-adapter</key>
	<true/>
	<key>com.apple.developer.icloud-container-identifiers</key>
	<array>
		<string>iCloud.com.AdlerScope</string>
	</array>
	<key>com.apple.developer.icloud-extended-share-access</key>
	<array>
		<string>InProcessOneTimeLinks</string>
		<string>InProcessShareOwnerParticipantInfo</string>
		<string>InProcessShareAccessRequests</string>
	</array>
	<key>com.apple.developer.icloud-services</key>
	<array>
		<string>CloudKit</string>
		<string>CloudDocuments</string>
	</array>
	<key>com.apple.developer.siri</key>
	<true/>
	<key>com.apple.developer.ubiquity-container-identifiers</key>
	<array>
		<string>iCloud.com.AdlerScope</string>
	</array>
	<key>com.apple.security.temporary-exception.files.home-relative-path.read-write</key>
	<array>
		<string>/Desktop/</string>
		<string>/Documents/</string>
		<string>/Downloads/</string>
		<string>/Library/Mobile Documents/</string>
	</array>
</dict>
</plist>
